{
    "openapi": "3.0.0",
    "info": {
        "title": "Inventory API Documentation",
        "description": "API documentation for the Inventory project",
        "contact": {
            "email": "your-email@example.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.inventory.cremin-cam.org",
            "description": "Inventory API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Connexion utilisateur",
                "description": "Retourne l'utilisateur et un token Sanctum",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login",
                                    "password"
                                ],
                                "properties": {
                                    "login": {
                                        "type": "string",
                                        "example": "user@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Créer un utilisateur",
                "description": "Crée un utilisateur lié à une entreprise",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone_number",
                                    "password",
                                    "password_confirmation",
                                    "id_entreprise"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    },
                                    "id_entreprise": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "profil_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Déconnexion",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/brands": {
            "get": {
                "tags": [
                    "Brands"
                ],
                "summary": "Lister toutes les marques",
                "description": "Récupère la liste des marques associées à l'entreprise de l'utilisateur.",
                "operationId": "3c41aa2e65314941e37a634e810c5f73",
                "responses": {
                    "200": {
                        "description": "Succès - Liste récupérée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Brand"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Brands"
                ],
                "summary": "Créer une nouvelle marque",
                "operationId": "1dae5363a453b159e035bc04b3fbc0be",
                "requestBody": {
                    "description": "Données de la marque",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "description": "Nom de la marque",
                                        "type": "string",
                                        "example": "Apple"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Succès - Marque créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/brands/{id}": {
            "get": {
                "tags": [
                    "Brands"
                ],
                "summary": "Afficher les détails d'une marque",
                "operationId": "767f67c0955810b713c48d4100f02362",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la marque",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès - Détails de la marque",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Marque introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Brands"
                ],
                "summary": "Mettre à jour une marque",
                "operationId": "1fac61ef4f1f3db38169272ad0e5ed09",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la marque",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Champs à modifier",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Samsung"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succès - Marque mise à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Marque introuvable"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Brands"
                ],
                "summary": "Supprimer une marque",
                "operationId": "401903a3c5a05c699953cb0b07a385e2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la marque",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Succès - Marque supprimée"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Marque introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Lister toutes les catégories",
                "description": "Récupère la liste des catégories associées à l'entreprise de l'utilisateur connecté.",
                "operationId": "0a3810ef08509327a6db442d3e4c4b73",
                "responses": {
                    "200": {
                        "description": "Succès - Liste récupérée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Categorie"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Créer une nouvelle catégorie",
                "operationId": "f44066b315f1a6670d352e128ba39465",
                "requestBody": {
                    "description": "Données de la nouvelle catégorie",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name_cat",
                                    "type"
                                ],
                                "properties": {
                                    "name_cat": {
                                        "description": "Nom de la catégorie",
                                        "type": "string",
                                        "example": "Ordinateurs Portables"
                                    },
                                    "type": {
                                        "description": "Type de la catégorie",
                                        "type": "string",
                                        "example": "Matériel"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Succès - Catégorie créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Categorie"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Afficher les détails d'une catégorie",
                "operationId": "829dd0fbc1687efece34524110808262",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la catégorie",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès - Détails de la catégorie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Categorie"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Catégorie introuvable ou accès refusé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Mettre à jour une catégorie",
                "operationId": "68cf6ef85d9b79cea99f6063deca74e3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la catégorie",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Champs à mettre à jour",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name_cat": {
                                        "type": "string",
                                        "example": "Imprimantes Laser"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "Bureautique"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succès - Catégorie mise à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Categorie"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Catégorie introuvable"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Supprimer une catégorie",
                "operationId": "c637fcbceb0196c4d850f96245587511",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de la catégorie",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Succès - Catégorie supprimée"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Catégorie introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/config-entreprises": {
            "get": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Liste des configurations d'entreprises",
                "operationId": "2b0ecc6174f5525f40ef674e0a882350",
                "responses": {
                    "200": {
                        "description": "Liste retournée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ConfigEntreprise"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Créer une configuration d'entreprise",
                "operationId": "d1f64f61a0bf640b3abe3a943d62a6cf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_entreprise",
                                    "forfait",
                                    "nbre_limit_personnel"
                                ],
                                "properties": {
                                    "id_entreprise": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "forfait": {
                                        "type": "string"
                                    },
                                    "nbre_limit_personnel": {
                                        "type": "string"
                                    },
                                    "actif": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Configuration créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigEntreprise"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/config-entreprises/{id}": {
            "get": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Afficher une configuration",
                "operationId": "16e34b1f64142b428627695583832a2d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration trouvée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigEntreprise"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Mettre à jour une configuration",
                "operationId": "d4504d07aadeb4ddc6a7a2762434b2c1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "forfait": {
                                        "type": "string"
                                    },
                                    "nbre_limit_personnel": {
                                        "type": "string"
                                    },
                                    "actif": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Configuration mise à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigEntreprise"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Supprimer une configuration",
                "operationId": "44236f44c957c89e194f2f31b6b55a3e",
                "responses": {
                    "204": {
                        "description": "Configuration supprimée"
                    }
                }
            }
        },
        "/api/config-entreprises/by-entreprise/{idEntreprise}": {
            "get": {
                "tags": [
                    "ConfigEntreprise"
                ],
                "summary": "Récupérer la configuration par entreprise",
                "operationId": "3612b269476c406654c0ea38e391a64f",
                "parameters": [
                    {
                        "name": "idEntreprise",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration trouvée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigEntreprise"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Configuration non trouvée"
                    }
                }
            }
        },
        "/api/dashboard/sales-overview": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Vue d'ensemble des flux d'entrees/sorties",
                "operationId": "f0fbf28e2a17b8e4d4ca8109f5f72aaa",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Periode par defaut si from/to absent",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "day",
                                "week",
                                "month",
                                "year"
                            ],
                            "example": "month"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-02-01"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-02-28"
                        }
                    },
                    {
                        "name": "group_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "day",
                                "week",
                                "month"
                            ],
                            "example": "day"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Donnees du graphique",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "labels": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "01/02"
                                            }
                                        },
                                        "series": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Entrees"
                                                    },
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer",
                                                            "example": 120
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/dashboard/yearly-breakup": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Repartition annuelle",
                "operationId": "a8021be23107dd4d2f5399135c85827a",
                "parameters": [
                    {
                        "name": "year",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 2026
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Widget annuel",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_value": {
                                            "type": "integer",
                                            "example": 36358
                                        },
                                        "change_pct_vs_previous_year": {
                                            "type": "integer",
                                            "example": 9
                                        },
                                        "donut": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer",
                                                "example": 38
                                            }
                                        },
                                        "legend": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "Entrees"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/dashboard/monthly-earnings": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Performance mensuelle",
                "operationId": "58152a307658a288589f5c799746506c",
                "parameters": [
                    {
                        "name": "month",
                        "in": "query",
                        "description": "Format YYYY-MM",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2026-02"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Widget mensuel",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "type": "integer",
                                            "example": 6820
                                        },
                                        "change_pct_vs_previous_month": {
                                            "type": "integer",
                                            "example": 9
                                        },
                                        "sparkline": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer",
                                                "example": 25
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/dashboard/recent-transactions": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Liste des transactions recentes",
                "operationId": "17fb34d246be0d3cec9cc2dab4b9dd65",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "TRX-001"
                                            },
                                            "date": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2026-02-17T10:12:00Z"
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "SORTIE"
                                            },
                                            "title": {
                                                "type": "string",
                                                "example": "Sortie stock"
                                            },
                                            "subtitle": {
                                                "type": "string",
                                                "example": "PC Lenovo x2"
                                            },
                                            "url": {
                                                "type": "string",
                                                "example": "/products/global-history"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes": {
            "get": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Lister toutes les demandes de l’entreprise (Admin)",
                "description": "Accessible uniquement aux administrateurs. Retourne toutes les demandes de l’entreprise.",
                "operationId": "getAllDemandes",
                "responses": {
                    "200": {
                        "description": "Liste des demandes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Demande"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès interdit"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Créer une demande",
                "description": "Permet à un utilisateur de créer une demande de produits",
                "operationId": "createDemande",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lignes"
                                ],
                                "properties": {
                                    "motif": {
                                        "type": "string",
                                        "example": "Besoin pour le service IT"
                                    },
                                    "agence": {
                                        "type": "string",
                                        "example": "Agence Yaoundé"
                                    },
                                    "lignes": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id_product": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "quantite_demandee": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Demande créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Demande"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes/{id}": {
            "get": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Afficher une demande",
                "description": "Retourne une demande. Accessible par le propriétaire ou un administrateur.",
                "operationId": "getDemandeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la demande",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la demande",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Demande"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès interdit"
                    },
                    "404": {
                        "description": "Demande introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes/me": {
            "get": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Lister mes demandes",
                "description": "Retourne uniquement les demandes créées par l'utilisateur connecté",
                "operationId": "getMyDemandes",
                "responses": {
                    "200": {
                        "description": "Liste des demandes de l'utilisateur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Demande"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes/{id}/validate": {
            "post": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Valider une demande",
                "description": "Permet à un administrateur de valider une demande en attente. \n     *     La validation génère automatiquement des sorties de stock en attente de confirmation.",
                "operationId": "validateDemande",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifiant UUID de la demande à valider",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Demande validée et sorties créées",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Demande validée, sorties créées"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès interdit (utilisateur non administrateur ou entreprise différente)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Accès interdit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Demande non trouvée ou déjà traitée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not Found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes/{id}/reject": {
            "post": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Refuser une demande",
                "description": "Permet à un administrateur de refuser une demande de produits encore en attente, appartenant à la même entreprise.",
                "operationId": "rejectDemande",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifiant UUID de la demande",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Demande refusée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Demande refusée"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès interdit (utilisateur non administrateur ou entreprise différente)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Accès interdit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Demande non trouvée ou déjà traitée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not Found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/demandes/{id}/sorties": {
            "get": {
                "tags": [
                    "Demandes"
                ],
                "summary": "Lister les sorties associées à une demande",
                "description": "Retourne toutes les sorties de stock générées pour une demande donnée. Accessible uniquement par l'admin ou le créateur de la demande.",
                "operationId": "fe4dc0a4b50f205d29ec698ac80c0d54",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la demande (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des sorties associées à la demande",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SortieStock"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès interdit"
                    },
                    "404": {
                        "description": "Demande non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/entreprises": {
            "get": {
                "tags": [
                    "Entreprises"
                ],
                "summary": "Lister les entreprises",
                "description": "Récupère la liste des entreprises avec possibilité de filtrer par email.",
                "operationId": "712e9c332f3e4993d72988da80bea620",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filtrer par email de l'entreprise",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Entreprise"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Entreprises"
                ],
                "summary": "Créer une entreprise",
                "operationId": "b9931edbf7734e3005034bc1f8c4d938",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_name"
                                ],
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "Ma Super Entreprise"
                                    },
                                    "tax_number": {
                                        "type": "string",
                                        "example": "NIU123456"
                                    },
                                    "company_email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "contact@entreprise.com"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Douala, Cameroun"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Entreprise créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Entreprise"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/entreprises/{id}": {
            "get": {
                "tags": [
                    "Entreprises"
                ],
                "summary": "Détails d'une entreprise",
                "operationId": "750bb8cbb174ff0a9ca9b20324af5a45",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID de l'entreprise",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Entreprise"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entreprise non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Entreprises"
                ],
                "summary": "Mettre à jour une entreprise",
                "operationId": "0efcf6f42950723824f2078295a4a839",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Entreprise"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mise à jour réussie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Entreprises"
                ],
                "summary": "Supprimer une entreprise",
                "operationId": "b8cde643f92887037e22ba472f77b539",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Supprimé avec succès"
                    },
                    "404": {
                        "description": "Non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/fournisseurs": {
            "get": {
                "tags": [
                    "Fournisseurs"
                ],
                "summary": "Lister tous les fournisseurs",
                "description": "Récupère la liste des fournisseurs de l'entreprise connectée.",
                "operationId": "f1e6d5720017e58d1f85ade3e7869b14",
                "responses": {
                    "200": {
                        "description": "Succès - Liste récupérée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Fournisseur"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Fournisseurs"
                ],
                "summary": "Créer un nouveau fournisseur",
                "operationId": "0ff9f333fae2b0f26ae48a5f460a1ae6",
                "requestBody": {
                    "description": "Données du fournisseur",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Tech Supplier SARL"
                                    },
                                    "contact_nom": {
                                        "type": "string",
                                        "example": "Jean Dupont",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "contact@techsupplier.com",
                                        "nullable": true
                                    },
                                    "telephone": {
                                        "type": "string",
                                        "example": "+237699000000",
                                        "nullable": true
                                    },
                                    "adresse": {
                                        "type": "string",
                                        "example": "123 Rue de la République",
                                        "nullable": true
                                    },
                                    "ville": {
                                        "type": "string",
                                        "example": "Douala",
                                        "nullable": true
                                    },
                                    "pays": {
                                        "type": "string",
                                        "example": "Cameroun",
                                        "nullable": true
                                    },
                                    "actif": {
                                        "description": "Statut du fournisseur",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Fournisseur principal pour le matériel IT",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Succès - Fournisseur créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Fournisseur"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/fournisseurs/{id}": {
            "get": {
                "tags": [
                    "Fournisseurs"
                ],
                "summary": "Afficher les détails d'un fournisseur",
                "operationId": "5cf212014b1aa572368a1dc946c6fbc4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID du fournisseur",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succès - Détails du fournisseur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Fournisseur"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Fournisseur introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Fournisseurs"
                ],
                "summary": "Mettre à jour un fournisseur",
                "operationId": "2d19ad51759d6c2e64485e05b98cad74",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID du fournisseur",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Champs à mettre à jour",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string"
                                    },
                                    "contact_nom": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "telephone": {
                                        "type": "string"
                                    },
                                    "adresse": {
                                        "type": "string"
                                    },
                                    "ville": {
                                        "type": "string"
                                    },
                                    "pays": {
                                        "type": "string"
                                    },
                                    "actif": {
                                        "type": "boolean"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succès - Fournisseur mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Fournisseur"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Fournisseur introuvable"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Fournisseurs"
                ],
                "summary": "Supprimer un fournisseur",
                "operationId": "5bc0895daf02ac1ca6531966bdc9688f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID du fournisseur",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Succès - Fournisseur supprimé"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Fournisseur introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ordonances": {
            "get": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Lister les ordonances",
                "operationId": "8d4c6f3185f4aa2b2c91ee0ccf877475",
                "responses": {
                    "200": {
                        "description": "Liste des ordonances",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ordonance"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Enregistrer une ordonance (status pending)",
                "operationId": "5bc6b9f2971add9ebfd8f747a3c4e40b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "compte_budgetaire",
                                    "imputation_budgetaire",
                                    "reference_op",
                                    "date",
                                    "creancier",
                                    "montant_brut",
                                    "nbre_pages_jointes"
                                ],
                                "properties": {
                                    "compte_budgetaire": {
                                        "type": "string",
                                        "example": "601100"
                                    },
                                    "imputation_budgetaire": {
                                        "type": "string",
                                        "example": "IB-2026-01"
                                    },
                                    "reference_op": {
                                        "type": "string",
                                        "example": "OP-2026-0001"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-02-18"
                                    },
                                    "creancier": {
                                        "type": "string",
                                        "example": "Fournisseur XYZ"
                                    },
                                    "montant_brut": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 150000
                                    },
                                    "acompte": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 20000
                                    },
                                    "ir": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5000
                                    },
                                    "tva": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 19250
                                    },
                                    "nap": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 105750
                                    },
                                    "nbre_pages_jointes": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "observations": {
                                        "type": "string",
                                        "example": "Dossier complet"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ordonance enregistree",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ordonance"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ordonances/{id}": {
            "get": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Afficher une ordonance",
                "operationId": "e7929da9aad1731efdd0f5f897293048",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ordonance trouvee",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ordonance"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "404": {
                        "description": "Ordonance introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Corriger une ordonance (pending uniquement)",
                "operationId": "893d4a9549b177f74e9b046089a5fdae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "compte_budgetaire": {
                                        "type": "string"
                                    },
                                    "imputation_budgetaire": {
                                        "type": "string"
                                    },
                                    "reference_op": {
                                        "type": "string"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "creancier": {
                                        "type": "string"
                                    },
                                    "montant_brut": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "acompte": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "ir": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "tva": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "nap": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "nbre_pages_jointes": {
                                        "type": "integer"
                                    },
                                    "observations": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ordonance corrigee",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ordonance"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "404": {
                        "description": "Ordonance introuvable"
                    },
                    "409": {
                        "description": "Impossible car deja approuvee"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Supprimer une ordonance (pending uniquement)",
                "operationId": "59ce78b094d72ca6e769828e417828e9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ordonance supprimee"
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "404": {
                        "description": "Ordonance introuvable"
                    },
                    "409": {
                        "description": "Impossible car deja approuvee"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ordonances/{id}/approve": {
            "post": {
                "tags": [
                    "Ordonances"
                ],
                "summary": "Valider une ordonance (status approved)",
                "operationId": "2471deeb1fa92fb5ab0b7776667fffd0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ordonance approuvee",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ordonance"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifie"
                    },
                    "403": {
                        "description": "Acces refuse"
                    },
                    "404": {
                        "description": "Ordonance introuvable"
                    },
                    "409": {
                        "description": "Conflit de statut"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/poles": {
            "get": {
                "tags": [
                    "Poles"
                ],
                "summary": "Lister tous les pôles",
                "operationId": "099822f0589663d8d415a7a1510a5325",
                "responses": {
                    "200": {
                        "description": "Liste des pôles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id_pole": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "nom": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Poles"
                ],
                "summary": "Créer un pôle",
                "operationId": "04f113bfa4dc44c1ac75e4510b1e9e03",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Pôle Logistique"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Gère les opérations logistiques"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pôle créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id_pole": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "nom": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/poles/{id}": {
            "get": {
                "tags": [
                    "Poles"
                ],
                "summary": "Afficher un pôle",
                "operationId": "4870b878a562e29c8e51cfd1e2de03e8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du pôle",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pôle trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id_pole": {
                                            "type": "string"
                                        },
                                        "nom": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pôle introuvable"
                    }
[...]
